.offersBlock {
    min-height: 50vh;
    background-color: #f5c4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offersContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fd60fa;
}
.title {
    background-color: #c4b6b6;
}
.links a {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    width: 80px;
    height: 35px;
    border-radius: 3px;
    background-color: #3636f6;
}
.links a:hover {
    color: #000000;
    font-weight: 700;
    background-color: #8080d5;
}
